@{
    ViewBag.Title = "Home Page";
}


<main>
    <section id="aboutUs" class="container my-5">

        <div class="row">
            <div class="col-lg-6 mx-auto text-center mb-4">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="~/Images/Imparator.jpg" class="d-block w-100" alt="Resim 1 bulunamadı...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Images/Fatih.jpg" class="d-block w-100" alt="Resim 2 bulunamadı...">
                        </div>
                        <div class="carousel-item">
                            <img src="~/Images/Terim.jpg" class="d-block w-100" alt="Resim 3 bulunamadı...">
                        </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>

                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>

                </div>
            </div>

            <div class="row">

                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Maaş Ekleme</h5>
                            <p class="card-text">
                                Maaş Ekleme İle Alakalı Bir Yazı Buraya Gelecek. Aynı zamanda alttaki card ile araya margin atılacak. Yani arada boşluk olacak.
                            </p>
                            <a href="Home/About" class="btn btn-primary">Maaşları Düzenle</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Tazminat Hesaplama</h5>
                            <p class="card-text">
                                Tazminat Hesabıyla Alakalı Bir Yazı Buraya Gelecek.
                            </p>
                            <a href="Account/TazminatHesapla" class="btn btn-primary">Tazminat Hesaplama</a>
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Kolay Kullanım, Basit Arayüz, Deneyimli Ekip</h5>
                            <p class="card-text">
                                İnsana odaklı yaklaşımımızla, çalışanlarımıza sadece bir işyeri değil, aynı zamanda bir aile ortamı sunuyoruz. Çalışanlarımızın bireysel ve profesyonel gelişimlerini destekleyerek, onlara sürdürülebilir bir kariyer yolculuğu sunmayı amaçlıyoruz.
                            </p>
                            <a href="Home/About" class="btn btn-primary">Başarılarımız</a>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </section>



    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>*@

    @*<script>
        // Carousel için otomatik geçiş ve kontrol butonları
        $('.carousel').carousel({
            interval: 2500, // Otomatik geçiş süresi (ms)
            pause: 'hover' // Fare üzerine gelince durma
        });
    </script>*@
</main>
